h1 {
    color: blue;
}

header {
    background-color: black;
    color: lightgrey;
    text-align: center;
    width: 400px;
    align-items: center;
    margin: auto;

}

main {
    background-color: rgb(211, 211, 211, 0.9);
    padding: 0.5em;
}

body {
    background-image: url(record.png);
    background-position: center;
    /* background-repeat: repeat; */
    margin: auto;
    width: 400px;

}

body h2, p {
    text-align: center;
    text-decoration: underline;
}

.darth-image {
    width: 400px;
    height: auto;
    margin-top: 1em;
}